.text-primary {
  color: $primary !important;
}

.bg-primary {
  background-color: $primary !important;
}

.btn {
  box-shadow: 0px 3px 3px 0px fade-out($gray-900, 0.9);
}

.btn-primary {
  background-color: $secondary;
  border-color: $secondary;
  &:hover,
  &:focus,
  &:active {
    background-color: darken($secondary, 10%);
    border-color: darken($secondary, 20%);
  }
}

.font-weight-light {
  font-weight: 100 !important;
}

.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
