.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: fade-out($secondary, 0.1);
  .cta-inner {
    position: relative;
    padding: 1rem;
    margin: 0.5rem;
    background-color: fade-out($white, 0.15);
    &:before {
      border-radius: 0.5rem;
      content: "";
      position: absolute;
      top: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
      right: -0.5rem;
      border: 0.25rem solid fade-out($white, 0.15);
    }
  }
}

#map {
  height: 30rem;
  margin-bottom: 5rem;
  /* margin: 3rem auto; */
}
