footer {
  background-color: fade-out($secondary, 0.1);
  margin-top: 5rem;

  h5 {
    color: $primary;
    padding-top: 2rem;
  }

  a {
    color: $white;
    @include body-font;
  }

  a:hover {
    color: darken($primary, 5);
  }

  p {
    color: $white;
  }
}

.footer-copyright {
  color: $gray-600;
}

a#footer-database {
  color: $primary;
}
