.intro {
  position: relative;
  @media (min-width: 992px) {
    .intro-img {
      width: 75%;
      float: right;
    }
    .intro-text {
      left: 0;
      width: 60%;
      margin-top: 9rem;
      position: absolute;
      .intro-button {
        width: 100%;
        left: 0;
        position: absolute;
        bottom: -2rem;

        a {
          font-size: 0.9rem;
          font-weight: 300;
        }
      }
    }
  }
  @media (min-width: 1200px) {
    .intro-text {
      width: 45%;
    }
  }
}
